/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 28, 2018, 5:52:13 PM
    Author     : LEOGOLD
*/

.fFormat{
    font-family: Verdana,Geneva, sans-serif;
    text-decoration: none;
    color: #ffffff;
}
.button{
    font-family: Verdana, Geneva, sans-serif;
    color: blue;
}
.para{
    
}