.fFormat{
    font-family: Verdana,Geneva, sans-serif;
    text-decoration: none;
    color: #ffffff;
}
.button{
    font-family: Verdana, Geneva, sans-serif;
    color: blue;
}
.para{

}

table,tr{
    border: 1px solid white;
}
.td{
    background:"#40407a";
}